<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/core.css}" />
    
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
   
   <div class="panel-group" style="margin-top:40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Pending Action</span>
				</div>
				<div class="panel-body">
				<div class="panel-body">
					 <table class="table table-hover">
					 <tr>
        				<th>#</th>
        				<th>Title</th>
        				<th>Description</th>
        				<th></th>
      			     </tr>
      			      
					 <tr th:each="application : ${pending}">
       						 <td th:text="${application.id}">Id</td>  
        					 <td th:text="${application.job.title}">Title</td>
        					 <td th:text="${application.job.description}">Description</td>
        					 <td><a href="#" th:href="@{'/pendingview/' + ${application.id}}">Show Details</a>  </td>
        			 </tr>
        			 
        			 </table>
				</div>
				
				</div>
				
			</div>
		</div>
		


<div class="panel-group" style="margin-top:40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Approved Candidate</span>
				</div>
				<div class="panel-body">
					
				<div class="panel-body">
					
					
					 <table class="table table-hover">
					 
					 <tr>
        				<th>#</th>
        				<th>Title</th>
        				<th>Description</th>
        				<th></th>

      			     </tr>
      			      
					<tr th:each="application : ${approved}">
       						 <td th:text="${application.id}">Id</td>  
        					 <td th:text="${application.job.title}">Title</td>
        					 <td th:text="${application.job.description}">Description</td>
        					 <td><a href="#" th:href="@{'/pendingview/' + ${application.id}}">Show Details</a>  </td>
        			 </tr>
        			 
        			 
        			
    				 </table>
				</div>
				
				</div>
				
			</div>
		</div>




<div class="panel-group" style="margin-top:40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Rejected</span>
				</div>
				<div class="panel-body">
					
				<div class="panel-body">
					
					
					 <table class="table table-hover">
					 
					 <tr>
        				<th>#</th>
        				<th>Title</th>
        				<th>Description</th>
        				<th></th>

      			     </tr>
      			      
						<tr th:each="application : ${rejected}">
       						 <td th:text="${application.id}">Id</td>  
        					 <td th:text="${application.job.title}">Title</td>
        					 <td th:text="${application.job.description}">Description</td>
        					 <td><a href="#" th:href="@{'/pendingview/' + ${application.id}}">Show Details</a>  </td>
        			 </tr>
        			 
        			
    				 </table>
				</div>
				
				</div>
				
			</div>
		</div>








   
</div>

<div th:replace="fragments/footer :: footer">&nbsp;</div>

</body>
</html>