<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/core.css}" />
    
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>



<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				
					<form autocomplete="off" action="#" th:action="@{/pendingaction}"
					th:object="${app}" method="post" class="form-horizontal"
					role="form">
					
					<h2>Approve/Reject Application</h2>
					<br/><br/>
					
					<div class="form-group">
						<div class="col-sm-9">
						<label	class="validation-message">Application Id : </label>
						<label th:text = "${app.id}"	class="validation-message"></label>
						<input type="hidden" th:field="*{id}" 
								class="form-control" /> 
						</div>
					</div>
					
					
					<div class="form-group">
						<div class="col-sm-9">
						<label	class="validation-message">Job Title : </label>
						<label th:text = "${app.job.title}"	class="validation-message"></label>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
						<label	class="validation-message">Job Description : </label>
						<label th:text = "${app.job.description}"	class="validation-message"></label>
						</div>
					</div>
					
									
					<div class="form-group">
					   <div class="col-sm-9">
					   <label	class="validation-message">Status</label>
					   <select class="form-control" aria-describedby="status-addon" id="status" name="status" th:field="*{status}">                 
                		 	<option   th:value="APPROVED" th:text="Approve"></option>
                		 	<option   th:value="REJECTED" th:text="Reject"></option>
                	   </select>
						</div>
					</div>
					
					
					<div class="form-group">
						<div class="col-sm-9">
							<label	class="validation-message">Message</label> : 
							<input type="text" th:field="*{message}" placeholder="Message"
								class="form-control" /> <label
								th:if="${#fields.hasErrors('message')}" th:errors="*{message}"
								class="validation-message"></label>
						</div>
					</div>
					
										
					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">SUBMIT</button>
						</div>
					</div>
					
					<span th:utext="${successMessage}"></span>
					<br/><br/><br/><br/>
					
				</form>
			</div>
		</div>
	</div>

<hr>
<div th:replace="fragments/footer :: footer">&nbsp;</div>

</body>
</html>

